
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<!-- page-banner-section
            ================================================== -->
<section class="page-banner-section">
    <div class="container">
        <h1>About Us</h1>
    </div>
</section>
<!-- End page-banner-section -->
<!-- about-section
    ================================================== -->
<section class="about-section">
    <div class="container">
        <div class="about-article">
            <div class="row">
                <div class="col-lg-6 d-flex">
                    <img src="http://nunforest.com/studiare/upload/about/about1@2x.jpg" alt="">
                </div>
                <div class="col-lg-6 d-flex">
                    <div class="article-content">
                        <i class="fa fa-file-text-o"></i>
                        <h2>Who We Are</h2>
                        <p>FPT-Aptech HN and FPT-Aptech HCM were opened in September 1999 in Hanoi and Ho Chi Minh City. Up to now, FPT Aptech still plays the role of founder and coordinator of the Aptech Vietnam programmer training system of the Aptech centers nationwide..</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-article">
            <div class="row">
                <div class="col-lg-6 d-flex">
                    <div class="article-content">
                        <i class="fa fa-university"></i>
                        <h2>Our Education</h2>
                        <p>Vietnamese students studying at FPT-APTECH have the opportunity to study abroad and study abroad. Aptech's training program is International, connecting with Universities in Australia, USA, Canada, India, Singapore to issue Bachelor degrees to help students save significant costs with knowledge and quality. same amount of training.</p>
                    </div>
                </div>
                <div class="col-lg-6 d-flex">
                    <img src="http://nunforest.com/studiare/upload/about/about2@2x.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="about-article">
            <div class="row">
                <div class="col-lg-6 d-flex">
                    <img src="http://nunforest.com/studiare/upload/about/about3@2x.jpg" alt="">
                </div>
                <div class="col-lg-6 d-flex">
                    <div class="article-content">
                        <i class="fa fa-umbrella"></i>
                        <h2>Our Story</h2>
                        <p>Top 5 Award & Vietnam ICT Gold Medal has really become a certificate confirming customers' trust in the business. The sales-based evaluation criterion is the exact test of the market. It is from the market measurement results that the award is a means of attesting the recognition of the society to the enterprise's efforts to improve the quality of products and services. In addition, the award is also a measure of the speed of market development and the size of the business.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about section -->
<!-- statistic-section
    ================================================== -->
<section class="statistic-section">
    <div class="container">
        <div class="statistic-box">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="statistic-post">
                        <span class="timer" data-from="0" data-to="321"></span>
                        <p>cases <br> completed</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="statistic-post">
                        <span class="timer" data-from="0" data-to="200"></span>
                        <p>cases <br> completed</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="statistic-post">
                        <span class="timer" data-from="0" data-to="135"></span>
                        <p>cases <br> completed</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="statistic-post">
                        <span class="timer" data-from="0" data-to="28"></span>
                        <p>cases <br> completed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End statistic section -->
<!-- clients-section
    ================================================== -->
<section class="clients-section">
    <div class="container">
        <div class="clients-box">
            <h1>Our Partners</h1>
            <p>Sed vehicula consectetur rutrum</p>
            <ul class="clients-list">
                <li>
                    <img src="http://nunforest.com/studiare/images/clients/logo-client-1.png" alt="">
                    <a href="#"><span>Honeydew</span></a>
                </li>
                <li>
                    <img src="http://nunforest.com/studiare/images/clients/logo-client-2.png" alt="">
                    <a href="#"><span>Madison</span></a>
                </li>
                <li>
                    <img src="http://nunforest.com/studiare/images/clients/logo-client-3.png" alt="">
                    <a href="#"><span>Everlane</span></a>
                </li>
                <li>
                    <img src="http://nunforest.com/studiare/images/clients/logo-client-4.png" alt="">
                    <a href="#"><span>Henderson</span></a>
                </li>
                <li>
                    <img src="http://nunforest.com/studiare/images/clients/logo-client-5.png" alt="">
                    <a href="#"><span>Andersen</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End clients section -->
