@using Microsoft.AspNet.Identity

<header class="clearfix">
    <form class="search_bar">
        <div class="container">
            <input type="search" class="search-input" placeholder="What are you looking for...">
            <button type="submit" class="submit">
                <i class="material-icons">search</i>
            </button>
        </div>
    </form>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <a class="navbar-brand" href="index.html">
                <img src="images/logo.svg" alt="">
            </a>

            <a href="#" class="mobile-nav-toggle">
                <span></span>
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="drop-link">
                        <a class="active" href="/home">Home</a>
                    </li>
                    <li class="drop-link">
                        <a href="/home/about">About Us</i></a>
                    </li>

                    <li class="drop-link">
                        <a href="/course/index">Courses</a>
                    </li>
                    <li><a href="/home/event">Events</a></li>
                    <li><a href="/home/contact">Contact</a></li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <span style="margin-bottom:7px;display:inline-block">
                            @Html.ActionLink("Hi " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </span>
                        <span>
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="register-modal-opener login-button"><i class="material-icons">perm_identity</i>Log Out</a>

                        </span>
                    }
                }
                else
                {
                    <a href="" class="register-modal-opener login-button" data-toggle="modal" data-target="#loginModal"><i class="material-icons">perm_identity</i>Sign In</a>

                }

            </div>
        </div>
    </nav>

    <div class="mobile-menu">
        <div class="search-form-box">
            <form class="search-form">
                <input type="search" class="search-field" placeholder="Enter keyword...">
                <button type="submit" class="search-submit">
                    <i class="material-icons open-search">search</i>
                </button>
            </form>
        </div>
        <div class="shopping-cart-box">
            <a class="shop-icon" href="cart.html">
                <i class="material-icons">shopping_cart</i>
                Cart
                <span class="studiare-cart-number">0</span>
            </a>
        </div>
        <nav class="mobile-nav">
            <ul class="mobile-menu-list">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li class="drop-link">
                    <a href="/home/about">About Us</a>
                </li>
                <li>
                    <a href="/Course/index">Courses</a>
                </li>
                <li>
                    <a href="/home/event">Events</a>
                </li>
                <li>
                    <a href="/home/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>

</header>
