@model IEnumerable<Zeal_Institute.Models.Payment>

@{
    ViewBag.Title = "ListOutstanding";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var count = 0;
}

<h4 class="py-3">List Outstanding Payment</h4>

<div class="card shadow-sm table-wrapper table-responsive mb-3">
    <table class="display table table-flush" id="table_id">
        <thead class="thead-light">
            <tr>
                <th class="text-center">#</th>
                <th>Name</th>
                <th>Course</th>
                <th>Amount Payable</th>
                <th>Amount Paid</th>
                <th>Remaining Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td class="text-center">@count</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Batch.Name)
                    </td>
                    <td class="text-danger">
                        $@Html.DisplayFor(modelItem => item.AmountPayable)
                    </td>
                    <td class="text-success">
                       $@Html.DisplayFor(modelItem => item.AmountPaid)
                    </td>
                    <td>
                        $@item.RemainingAmount(item.AmountPayable, item.AmountPaid)
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}
